* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form_box h1 {
  margin-bottom: 10px;
}
.form_box h2 {
  margin-top: 10px;
}
.form_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  row-gap: 10px;
}
.form_box input {
  width: 400px;
  padding: 10px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #000;
}
.input_box {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.send_btn {
  margin-top: 20px;
  color: #000;
  background-color: #fff;
  outline: none;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.send_btn:hover {
  transform: scale(0.95);
  background-color: #000;
  color: #fff;
}
.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.checkbox input {
  width: 20px;
  height: 20px;
  accent-color: #000;
}