@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');
.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    align-items: center;
    font-size: 20px;
    color: white;
    padding: 0 30px;
    border: 2px solid rgb(18, 18, 18);
  }
.header img {
  width: 100px;
}
.loginBlock {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  cursor: default;
}
.loginBlock button {
  color: black;
  font-weight: bold;
  background-color: #fff;
  outline: none;
  border: none;
  padding: 5px 7px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.loginBlock button:hover {
  transform: scale(.95);
}
.loginText {
  color: #fff;
  text-decoration: none;
}
.siteName {
  display: flex;
  align-items: center;
  font-family: "Jacquard 24", system-ui;
}
.login_btn {
  font-family: "Jacquard 24", system-ui;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login_btn:hover {
  font-size: 21px;
}