.div {
    width: 100%;
    height: 200px;
    background: url(../../../assets/images/profileInfoImage.png)no-repeat;
    background-position: center;
    background-size: cover;
}
.descriptionBlock {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.fullName {
    font-weight: 700;
}

.aboutMe {
    opacity: 0.5;
}
.change_status {
    background-color: rgba(255, 255, 255, 0.099);
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}