.descriptionBlock {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.115);
}
.notes {
    margin: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-between;
}
.avatar, .myavatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.myavatar {
    transition: all 0.3s ease;
}
.fullName {
    font-weight: 700;
}

.aboutMe {
    opacity: 0.5;
}
.change_status {
    background-color: rgba(255, 255, 255, 0.099);
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.change_photo {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 30%;
    bottom: -30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.change_photo::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../../../assets/images/change_avatar.svg')no-repeat, #fff;
    background-position: center;
}
.contacts_box {
    margin-right: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.image_and_changed {
    margin: 10px 0 0 10px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.edit_profile {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}
.edit_profile:hover {
    transform: scale(0.95);
    background-color: #000;
    color: #fff;
}
.important_text {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}
.image_and_changed:hover .change_photo {
    bottom: 30%;
}
.image_and_changed:hover .myavatar {
    opacity: 0.5;
}
.change_photo:hover {
    transform: scale(1.1);
}
